@import '../../variables'

.home
  display: flex
  justify-content: center
  padding-top: 40px
  margin-left: auto
  margin-right: auto
  height: 100vh
  width: 100vw

.error
  align-content: center
  color: #dc2626

.container
  position: relative
  width: 560px

.input
  border-width: 1px
  border-radius: 30px
  padding: 8px 16px
  height: 42px
  width: 100%
  margin-bottom: 8px

.dropdown
  position: absolute
  padding-left: 0
  top: 42px
  left: 26px
  right: 26px
  width: 545px
  max-height: 200px
  border-radius: 0 15px
  background-color: #f8fafc
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
  overflow-y: scroll

.loading
  text-align: center

.li
  padding: 8px 16px
  list-style-type: none
  &:hover
    background: #4c1d95
    color: #f8fafc
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 150ms
    cursor: pointer
