@import './app/variables'

body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  width: 100%
  @include background('./app/img/space.jpg')

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

a
  color: $colorWhite
  text-decoration: none

  &:visited
    color: $colorBlue
